@import "login.css";

* {
  margin: 0;
  box-sizing: border-box;
}

.divider {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.board-container {
  display: flex;
  flex-wrap: wrap;
}

.board-container__sticker {
  width: 300px;
  height: 300px;
  background-color: yellow;
}

.hidden {
  display: none;
}
