.user-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-login > div {
  width: 300px;
  height: 220px;
  box-shadow: 10px 1px 50px rgba(0, 0, 0, 0.1), -5px 0px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  background-color: white;
  border-radius: 10px;
}

.user-login__title {
  margin: 7px 0;
  font-size: 14px;
}

.user-login__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin: 45px 0 40px 0;
}

.user-login__input {
  width: 220px;
  height: 30px;
  position: relative;
}

.user-login__input input {
  width: 100%;
  height: 100%;
}

.user-login__input label {
  position: absolute;
  left: 0%;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.user-login__input label::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0px;
  width: 0;
  height: 100%;
  border-bottom: 3px solid greenyellow;
  transition: all 0.2s ease-in-out;
}

.user-login__input label span {
  position: absolute;
  left: 3px;
  bottom: 3px;
  transition: all 0.3s ease;
}

.user-login__input input:focus + label span,
.user-login__input input:valid + label span {
  transform: translateY(-175%);
  font-size: 12px;
  color: yellowgreen;
}

.user-login__input input:focus + label::after,
.user-login__input input:valid + label::after {
  width: 100%;
}

.user-login__btn button,
.user-logout__btn button {
  width: 90px;
  height: 30px;
  background-color: #00aa87;
  color: white;
  border-radius: 2px;
  box-shadow: 0 19px 38px rgba(220, 195, 205, 0.2),
    0 15px 12px rgba(220, 195, 205, 0.3);
  cursor: pointer;
  transition: all 0.5s ease;
}

.user-login__btn button:hover,
.user-logout__btn button:hover {
  color: black;
  background-color: wheat;
  font-weight: 700;
}

.user-logout__btn {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: white;
}

.user-logout__btn button {
  width: 150px;
  height: 50px;
  border-radius: 7px;
  font-size: 17px;
}

.user-logout__btn button i {
  margin-right: 5px;
}

.greeting {
  margin-right: 25px;
  font-size: 22px;
}
